<%- include('../../partials/header') %>

<%- include('../../partials/body-top') %>
<form action="/exercises/update" method="POST">
      <button class="buttons">UPDATE</button>
</form>


      <% for (let obj of results) { %>
    <form action="/exercises/myworkout" method="POST">
          <button name="id" value="<%= obj.id %>" type="submit">Add to my workout</button>
    </form>
        Exercise ID: <%= obj.id %> <br>
        <a href="/exercises/<%=obj.id%>"> Exercise Name: <%= obj.name %> </a><br>
        <%if (obj.image != undefined ){ %>
      <a href="/exercises/<%=obj.id%>"> <img src="<%= obj.image %>" alt="Exercise <%=obj.id%>" /> </a>
     <% }} %> <br><br>
    </div>

    <%- include('../../partials/body-bottom') %>

    <%- include('../../partials/footer') %>