<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        max-width: 100%;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    Main Exercise Page 
    <br /><br />
    <div><a href="/exercises/myworkout" alt="myworkout">my Workout</a></div>
      <% if (user) { %>
    <a href="/logout"><button>Log Out</button> </a>
    <% } else { %>
    <a href="/auth/google"><button>Login with Google</button></a>
    <% } %> <%#
    <a href="/auth/google"><button class="login">Login with Google</button></a>
    %>  
    <div>
      <% for (let obj of results) { %>
    <form action="/exercises/myworkout" method="POST">
          <button name="id" value="<%= obj.id %>" type="submit">Add to my workout</button>
    </form>
        Exercise ID: <%= obj.id %> <br>
        <a href="/exercises/<%=obj.id%>"> Exercise Name: <%= obj.name %> </a><br>
        <%if (obj.image != undefined ){ %>
      <a href="/exercises/<%=obj.id%>"> <img src="<%= obj.image %>" alt="Exercise <%=obj.id%>" /> </a>
     <% }} %> <br><br>
    </div>

  </body>
</html>
