
    <%- include('../../partials/header') %>
    <%- include('../../partials/body-top') %>

    <a href="/exercises"><button>Back to all exercises</button></a><br><br>
    <div><b>Exercise Info: </b></div><br><br>
    
    Workout ID: <%= exercise.id %> <br>
    Name of <%= exercise.name %> <br>
    Description: <%- exercise.description %> <br>
    <% if (exercise.image != undefined){ %>
        <img src="<%=exercise.image%>" alt="<%=exercise.name%>">
    <% } %> <br><br>

    <%- include('../../partials/body-bottom') %>
    <%- include('../../partials/footer') %>
