
    <%- include('../../partials/header') %>
    <%- include('../../partials/body-top') %>

    <a href="/exercises"><button>Back to all exercises</button></a><br><br>
    <div><b>Exercise Info: </b></div><br><br>
    <% if (exercise.image != undefined){ %>
        <img src="<%=exercise.image%>" alt="<%= exercise.name %>">
    <% } %> <br>
    <b>Workout ID:</b>  <%= exercise.refId %> <br>
    <b>Name of Exercise:</b> <%=exercise.name %> <br>
    <b>Description:</b>  <%- exercise.description %> <br>
    <br><br>

    <%- include('../../partials/body-bottom') %>
    <%- include('../../partials/footer') %>
