<%- include('../../partials/header') %>

<%- include('../../partials/body-top') %>

    <form action="/exercises/newworkout" method="POST">
      <div>
        <label for="plan-name"> Workout Plan name:</label> <br />
        <input
          type="text"
          name="planName"
          id="plan-name"
          placeholder="e.g leg day"
          required/><br />
        <label for="member"> Member name: </label> <br />
        <input type="text" name="member" id="member" /> <br />
        <label for="exercises">Exercise</label><br />
        <select name="exercises" id="">
            <label for="exercise">
              <option disabled selected value> -- select an Exercise -- </option>
                <% for (let r of results){ %>
                    <option value="<%=r.id%>"><%=r.name%></option>
                <% }%>
            </label>
        </select>
      </div>
      <button>
          Create Plan
        </button>
    </form>
    <p>this is my workout plan</p>
    Name: List of Exercises:


    <form action="/exercises/myworkout?_method=DELETE" method="POST">
      <button type="submit" class="delete">Delete from my plan</button>
    </form>


    <%- include('../../partials/body-bottom') %>
    <%- include('../../partials/footer') %>