<%- include('../../partials/header') %>

<%- include('../../partials/body-top') %>
  <% if (user) { %>
    <form id="new-plan" action="/exercises/newworkout" method="POST">
      <div>
        <label for="plan-name"> Workout Plan name:</label> <br />
        <input
          type="text"
          name="planName"
          id="plan-name"
          placeholder="e.g leg day"
          required/><br />
        <label for="exercises">Exercise</label><br />
        <select name="exercises" id="">
            <label for="exercise">
              <option disabled selected value> -- select an Exercise -- </option>
                <% for (let r of results){ %>
                    <option value="<%=r.id%>"><%=r.name%></option>
                <% }%>
            </label>
        </select>
      </div>
      <button name="member" value="<%=user.id%>">
          Create Plan
        </button>
    </form><br><br>
  
    <p>my workout plan</p><br>
    <% for(let w of workout){ %>
      <p>
    Name: <%= w.planName%> <br>
    
    List of Exercises:  <%= w.exercise  %> <br><br>
  </p>
    <% } %>
<% } %>
    <form action="/exercises/myworkout?_method=DELETE" method="POST">
      <button type="submit" class="delete">Delete from my plan</button>
    </form>


    <%- include('../../partials/body-bottom') %>
    <%- include('../../partials/footer') %>